*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1180px;
    @media(max-width: 374px){
        padding: 0 10px;
    }
}

.lock {
    overflow: hidden;
    height: 100%;
}

.header{
    padding-top: 40px;
    width: 100%;
    background-image: url("../images/background__1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @media(max-width:992px){
        padding-top: 26px;
    }
    .header__body{
        .row__1{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                a{
                    font-family: 'Oswald', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    color: #970416;
                    text-decoration: none;
                }
            }
            .info{
                @media(max-width:992px){
                    display: none;
                }
                ul{
                    display: flex;
                    li{
                        margin-left: 60px;
                        display: flex;
                        list-style: none;
                        align-items: center;
                        .fas{
                            margin-right: 12px;
                            font-size: 16px;
                            color: #970416;
                        }
                        .far{
                            margin-right: 12px;
                            font-size: 16px;
                            color: #970416;
                        }
                        p{
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 14px;
                            color: #FFFFFF;
                            span{
                                color: #848484;
                            }
                        }
                    }
                }
            }
            .phone{
                display: flex;
                @media(max-width:992px){
                    display: none;
                }
                .fas{
                    margin-right: 12px;
                    font-size: 16px;
                    color: #970416;
                }
                p{
                    font-weight: normal;
                    font-size: 12px;
                    color: #FFFFFF;
                }
            }
            .button__call{
                font-weight: normal;
                font-size: 14px;
                color: #970416;
                text-decoration: none;
                transition: color .5s linear;
                @media(max-width:992px){
                    display: none;
                }
                &:hover{
                    color: #FFFFFF;
                }
            }
            .menu{
                &:after{
                    display: none;
                    content: " ☰ ";
                    margin-right: 6px;
                    position: relative;
                    z-index: 10;
                    font-size:26px;
                    cursor:pointer;
                    color: #970416;

                    @media(max-width:992px){
                        display: block;
                    }
                }
                &.active{
                    &:after{
                        content: "×";
                        font-size: 40px;
                        color: grey;
                    }
                }
            }
        }
        .row__2{
            padding-top: 60px;
            @media(max-width:992px){
                position: fixed;
                top: -150%;
                left: 0;
                z-index: 8;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.9);
            }
            &.active{
                top: 0;
            }
            ul{
                display: flex;
                @media(max-width:992px){
                    display: block;
                }
                li{
                    margin-right: 36px;
                    list-style: none;
                    @media(max-width:992px){
                        padding: 8px 0;
                        margin-right: 0;
                        position: relative;
                        top: -1000px;
                        left: 0;
                        text-align: center;
                        transition: all 0.8s ease;
                    }
                    a{
                        font-weight: normal;
                        font-size: 12px;
                        color: #FFFFFF;
                        text-decoration: none;
                        transition: color .3s linear;
                        &:hover{
                            color: #D6152C;
                        }
                        @media(max-width:992px){
                            font-size: 14px;
                            color: #818181;
                        }
                    }
                    &.active{
                        top: 200px;
                    }
                }
            }
        }
        .row__3{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media(max-width:768px){
                display: block;
            }
            .row__column-1{
                h1{
                    max-width: 366px;
                    font-family: 'Oswald', sans-serif;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 57px;
                    color: #FFFFFF;
                    @media(max-width:992px){
                        font-size: 38px;
                    }
                    @media(max-width: 768px){
                        margin-top: 68px;
                        font-size: 36px;
                        line-height: 1.2;
                    }
                    span{
                        font-family: 'Oswald', sans-serif;
                        color: #7D0312;
                    }
                }
                p{
                    margin: 12px 0px 30px;
                    max-width: 336px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #FFFFFF;
                    @media(max-width:768px){
                        max-width: 600px;
                    }
                }
                .button{
                    .block{
                        display: none;
                        @media(max-width: 1250px){
                            margin: 16px;
                            display: block;
                        }
                    }
                    .button__1{
                        cursor: pointer;
                        margin-right: 16px;
                        padding: 12px 20px;
                        font-weight: normal;
                        font-size: 14px;
                        color: #FFFFFF;
                        border-radius: 6px;
                        text-decoration: none; 
                        border:none;
                        background: linear-gradient(180deg, #D6152C 0%, #7D0312 100%);
                        transition: box-shadow .3s linear;
                        transition: background .3s linear;
                        position: relative;
                        z-index: 6;
                        &:hover{
                            box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
                            background: linear-gradient(180deg, #A90F22 0%, #610914 100%);
                        }
                        @media(max-width: 768px){
                            position: absolute;
                            bottom: 48px;
                            left: 22px;
                        }
                    }
                    .button__2{
                        cursor: pointer;
                        padding: 12px 20px;
                        font-weight: normal;
                        font-size: 14px;
                        color: #FFFFFF;
                        border-radius: 6px;
                        text-decoration: none; 
                        background-color: transparent;
                        border: 1px solid #575757;
                        transition: border .3s linear;
                        &:hover{
                            border: 1px solid #fff;
                        }
                        @media(max-width: 768px){
                            display: none;
                        }
                    }
                }

            }
            .row__column-2{
                @media(max-width:768px){
                    text-align: center;
                }
                img{
                    max-width: 650px;
                    position: relative;
                    bottom: -12px;
                    left: 0;
                    z-index: 1;
                    @media(max-width:992px){
                        max-width: 438px;
                    }
                    @media(max-width:768px){
                        max-width: 356px;
                    }
                    @media(max-width:374px){
                        max-width: 264px;
                    }
                }
            }
        }
    }
    .line{
        width: 100%;
        height: 20px;
        background: linear-gradient(180deg, #D6152C 0%, #7D0312 100%);
        position: relative;
        z-index: 3;
    }
}

.modal__call {
    display: none;
    position: fixed;
    z-index: 12;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    .modal-content {
        position: relative;
        background-color: #202020;
        margin: auto;
        padding: 0;
        width: 680px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        @media(max-width:768px){
            width: 100%;
        }
        .modal-header {
            width: 100%;
            height: 20px;
            background: linear-gradient(180deg, #D6152C 0%, #7D0312 100%);
            position: relative;
            z-index: 3;
        }
        .modal-body{
            display: flex;
            justify-content: space-around;
            align-items: center;
            @media(max-width:768px){
                padding: 60px 0 80px;
                display: block;  
            }
            &_1{
                padding-left: 52px;
                h2{
                    font-family: 'Oswald', sans-serif;
                    font-weight: bold;
                    font-size: 24px;
                    color: #FFFFFF;
                }
                p{
                    max-width: 272px;
                    margin-bottom: 20px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 16px;
                    color: #FFFFFF;
                }
                form{
                    input{
                        padding-left: 22px;
                        margin-bottom: 14px;
                        width: 200px;
                        height: 40px;
                        outline: none;
                        background-color: transparent;
                        border: 1px solid #575757;
                        border-radius: 6px;
                        color: #fff;
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
                .button_otp{
                    width: 180px;
                    height: 40px;
                    font-weight: 400;
                    font-size: 14px;
                    color: #FFFFFF;
                    background: linear-gradient(180deg, #D6152C 0%, #7D0312 100%);
                    border-radius: 6px;
                    border:none;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover{
                        background: linear-gradient(180deg, #A90F22 0%, #610914 100%);
                    }
                }
            }
            &_2{
                img{
                    margin-top: 24px;
                    width: 249px;
                }
            }
        }
    }
}

.about{
    padding-top: 100px;
    width: 100%;
    background-image: url("../images/background__2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .about__header-1{
        padding: 44px 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #202020;
        border-radius: 6px;
        @media(max-width: 494px){
            display: block;
        }
        .about__header-column{
            @media(max-width: 768px){
                width: 50%;
                margin: 12px 0px;
            }
            @media(max-width: 494px){
                margin: 0;
            }
            h3{
                font-family: 'Oswald', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                color: #7D0312;
                .counter{
                    font-family: 'Oswald', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    color: #7D0312;
                }
            }
            p{
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
            }
        }
        .one, .three{
            margin-bottom: 32px;
        }

        .col{
            width: 0.3px;
            height: auto;
            background-color: #7D0312;
            @media(max-width:768px){
                display: none;
            }
            @media(max-width: 494px){
                margin: 20px 0;
                display: block;
                width: auto;
                height: 0.3px;
            }
        }
    }
    // .stroka1{
    //     @media(max-width: 768px){
    //         display: none;
    //     }
    //     @media(max-width: 494px){
    //         display: block;
    //     }
    // }
    // .stroka2{
    //     display: none;
    //     @media(max-width: 768px){
    //         display: flex;
    //     }
    //     @media(max-width: 494px){
    //         display: none;
    //     }
    // }
    .about__footer{
        margin-top: 80px;
        width: 100%;
        display: flex;
        @media(max-width: 992px){
            display: block;
        }
        .about__footer-img{
            width: 60%;
            position: relative;
            @media(max-width: 992px){
                display: none;
            }
            img{
                max-width: 590px;
                position: absolute;
                bottom: -4px;
                left: 0;
            }
        }
        .about__text{
            width: 40%;
            margin-left: 60px;
            margin-bottom: 20px;
            @media(max-width: 992px){
                width: 100%;
                margin-bottom: 40px;
                margin-left: 0px;
            }
            h2{
                margin-bottom: 40px;
                font-family: 'Oswald', sans-serif;
                font-weight: bold;
                font-size: 36px;
                color: #FFFFFF;
            }
            p{
                margin-bottom: 20px;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
            }
        }
        .about__footer-img2{
            width: 100%;
            position: relative;
            text-align: center;
            display: none;
            @media(max-width: 992px){
                display: block;
            }
            img{
                max-width: 590px;
                position: relative;
                bottom: -4px;
                left: 0;
                @media(max-width: 768px){
                    max-width: 350px;
                }
                @media(max-width: 374px){
                    max-width: 260px;
                }
            }
        }
    }
    .line{
        width: 100%;
        height: 20px;
        background: linear-gradient(180deg, #D6152C 0%, #7D0312 100%);
        position: relative;
        left: 0;
        z-index: 3;
    }
}

.price{
    padding: 120px 0 80px;
    width: 100%;
    background-image: url("../images/background__3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h2{
        margin-bottom: 60px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: 36px;
        color: #FFFFFF;
        text-align: center;
    }
    .price__body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .price__card{
            margin: 0 20px 40px 20px;
            max-width: 280px;
            @media(max-width: 374px){
                max-width: 260px;
            }
            /*.above_red{
                width: 280px;
                height: 10px;
                background: linear-gradient(180deg, #D6152C 0%, #7D0312 100%);
                border-radius: 12px 12px 0px 0px;
            }*/
            .price__card-item{
                border-top: 12px solid #a40d20;
                padding-bottom: 46px;
                background-color: #202020;
                border-radius: 12px 12px 0px 0px;

                transition: transform .5s;
                &:hover{
                    transform: scale(1.05);
                }
                h4{
                    margin: 0;
                    padding-top: 16px;
                    font-weight: bold;
                    font-size: 24px;
                    color: #FFFFFF;
                    text-align: center;
                }
                .solo{
                    padding-top: 41px;
                    margin-bottom: 41px;
                }
                h5{
                    margin: 12px 36px 24px;
                    padding: 6px 12px;
                    font-weight: 300;
                    font-size: 12px;
                    color: #FFFFFF;
                    background: linear-gradient(180deg, #D6152C 0%, #7D0312 100%);
                    border-radius: 17px;
                    text-align: center;
                }
                ul{
                    margin: 0 24px;
                    @media(max-width: 374px){
                        margin: 0 10px;
                    }
                    .point{
                        font-weight: bold;
                        font-size: 9px;
                        color: #FFFFFF;
                    }
                    li{
                        margin: 12px 0;
                        display: flex;
                        img{
                            width: 21px;
                            height: 18px;
                        }
                        p{
                            margin-left: 14px;
                            font-weight: 300;
                            font-size: 14px;
                            color: #FFFFFF;
                        }
                    }
                }
                .price__today{
                    margin-top: 30px;
                    font-weight: 300;
                    font-size: 12px;
                    color: #FFFFFF;
                    text-align: center;
                }
                .grn{
                    margin-bottom: 24px;
                    font-weight: 500;
                    font-size: 36px;
                    color: #FFFFFF;
                    text-align: center;
                }
                .buy{
                    margin-left: 30px;
                    padding: 12px 60px;
                    font-weight: normal;
                    font-size: 14px;
                    color: #FFFFFF;
                    background: linear-gradient(180deg, #D6152C 0%, #7D0312 100%);
                    border-radius: 6px;
                    text-align: center;
                    text-decoration: none;
                    outline: none;
                    border: 0;
                    @media(max-width: 374px){
                        margin-left: 16px;
                    }
                    cursor: pointer;
                    &:hover{
                        background: linear-gradient(180deg, #A90F22 0%, #610914 100%);
                    }
                }
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 12;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
    padding: 30px;
    @media(max-width: 768px){
        padding: 30px 0px 0px 0px;
    }
  .modal-content {
    position: relative;
    background-color: #202020;
    margin: auto;
    padding: 0;
    width: 680px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    @media(max-width:768px){
        width: 342px;
    }
    @media(max-width:374px){
        width: 264px;
    }
    .modal-header {
        width: 100%;
        height: 20px;
        background: linear-gradient(180deg, #D6152C 0%, #7D0312 100%);
        position: relative;
        z-index: 3;
    }
    .modal-body{
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media(max-width:768px){
            padding: 60px 0 80px;
            display: block;  
        }
        &_1{
            padding-left: 52px;
            @media(max-width:768px){
                padding-left: 28px;
            }
            @media(max-width:374px){
                padding-left: 18px;
            }
            h2{
                font-family: 'Oswald', sans-serif;
                font-weight: bold;
                font-size: 24px;
                color: #FFFFFF;
            }
            p{
                max-width: 272px;
                margin-bottom: 20px;
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
            }
            form{
                input{
                    padding-left: 22px;
                    margin-bottom: 14px;
                    width: 280px;
                    height: 40px;
                    outline: none;
                    background-color: transparent;
                    border: 1px solid #575757;
                    border-radius: 6px;
                    color: #fff;
                    font-weight: 400;
                    font-size: 14px;
                    @media(max-width: 374px){
                        width: 180px;
                    }
                }
            }
            .button_otp{
                width: 180px;
                height: 40px;
                font-weight: 400;
                font-size: 14px;
                color: #FFFFFF;
                background: linear-gradient(180deg, #D6152C 0%, #7D0312 100%);
                border-radius: 6px;
                border:none;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                &:hover{
                    background: linear-gradient(180deg, #A90F22 0%, #610914 100%);
                }
            }
        }
        &_2{
            display: block;
            img{
                margin-top: 24px;
                width: 249px;
            }
            @media(max-width:768px){
                display: none;
            }
        }
    }
  }
}

.modal__free{
    display: none;
    position: fixed;
    z-index: 12;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
  .modal-content {
    position: relative;
    background-color: #202020;
    margin: auto;
    padding: 0;
    width: 380px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    .modal-header {
        width: 100%;
        height: 20px;
        background: linear-gradient(180deg, #D6152C 0%, #7D0312 100%);
        position: relative;
        z-index: 3;
    }
    .modal-body{
        padding: 60px 0 80px;
        &_1{
            padding-left: 52px;
            h2{
                font-family: 'Oswald', sans-serif;
                font-weight: bold;
                font-size: 24px;
                color: #FFFFFF;
            }
            p{
                max-width: 272px;
                margin-bottom: 20px;
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
            }
            form{
                input{
                    padding-left: 22px;
                    margin-bottom: 14px;
                    width: 280px;
                    height: 40px;
                    outline: none;
                    background-color: transparent;
                    border: 1px solid #575757;
                    border-radius: 6px;
                    color: #fff;
                    font-weight: 400;
                    font-size: 14px;
                }
            }
            .button_otp{
                width: 180px;
                height: 40px;
                font-weight: 400;
                font-size: 14px;
                color: #FFFFFF;
                background: linear-gradient(180deg, #D6152C 0%, #7D0312 100%);
                border-radius: 6px;
                border:none;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                &:hover{
                    background: linear-gradient(180deg, #A90F22 0%, #610914 100%);
                }
            }
        }
    }
  }
}
  
@-webkit-keyframes animatetop {
    from {
        top:-300px; 
        opacity:0} 
    to {
        top:0; 
        opacity:1
    }
}
  
@keyframes animatetop {
    from {
        top:-300px; 
        opacity:0
    }
    to {
        top:0; 
        opacity:1
    }
}

.galereya{
    padding: 120px 0;
    background-color: #202020;
    .galereya__body{
        h2{
            padding-bottom: 44px;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            font-size: 36px;
            color: #FFFFFF;
            text-align: center;
        }
        .galereya__images{
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            .img{
                margin: 0px 12px 32px 12px;
                .image {
                    cursor:zoom-in;
                    border-width: 3px;
                    border-style: solid;
                    border-image: linear-gradient(180deg, #D6152C 0%, #7D0312 100%)1;
                    @media(max-width: 374px){
                        max-width: 240px;
                        max-height: 160px;
                    }
                }
            }
        }
    }
}

.popup {
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    display:none;
    text-align:center;
}

.popup_bg {
    background:rgba(0, 0, 0, 0.8);
    position:fixed;
    z-index:1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
}

.popup_img {
    position: fixed;
    z-index:12;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 80%;
    max-height: 80%;
    border-width: 6px;
    border-style: solid;
    border-image: linear-gradient(180deg, #D6152C 0%, #7D0312 100%)1;
}

.popup_img {
  pointer-events: none;
}

.answers{
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    background-image: url("../images/background__1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .answers__body{
        text-align: center;
        h2{
            padding-bottom: 44px;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            font-size: 36px;
            color: #FFFFFF;
            text-align: center;
        }
        .accordion {
            margin-bottom: 10px;
            max-width: 70%;
            background-color: #202020;
            color: #FFFFFF;
            cursor: pointer;
            padding: 18px 30px 18px 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 14px;
            transition: 0.4s;
            border-radius: 6px;
            position: relative;
        }
        .active, .accordion:hover {
            background-color: transparent;
        }
        .accordion:after {
            content: '\002B';
            color: #D6152C;
            font-weight: bold;
            margin-left: 5px;
            position: absolute;
            top: 19px;
            right: 11px;
        }
        .active:after {
            content: "\2212";
            color: #575757;
        }
        .panel {
            margin: 0 auto;
            padding: 0px 18px;
            max-width: 70%;
            background-color: transparent;
            color: rgb(187, 187, 187);
            font-size: 12px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            text-align: left;
            p{
                margin-bottom: 36px;
            }
        }
    }
}

.contact{
    padding: 120px 0;
    background-color: #202020;
    .contact__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 992px){
            display: block;
            text-align: center;
        }
        .contact__header{
            padding: 80px 60px;
            border: 1px solid #D6152C;
            border-radius: 12px;
            @media(max-width:992px){
                margin: 0 auto 32px;
                max-width: 340px;
            }
            @media(max-width:768px){
                margin: 0 auto 24px;
                padding: 32px 40px;
            }
            h2{
                margin-bottom: 32px;
                font-family: 'Oswald', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                color: #FFFFFF;
                text-align: left;
            }
            .info__contact{
                ul{
                    display: block;
                    li{
                        margin-bottom: 40px;
                        display: flex;
                        list-style: none;
                        align-items: center;
                        .fas{
                            margin-right: 12px;
                            font-size: 16px;
                            color: #7D0312;
                        }
                        .far{
                            margin-right: 12px;
                            font-size: 16px;
                            color: #7D0312;
                        }
                        p{
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 14px;
                            color: #FFFFFF;
                            span{
                                color: #575757;
                            }
                        }
                    }
                }
            }
            .social{
                margin: 0 auto;
                width: 250px;
                @media(max-width:374px){
                    width: 210px;
                }
                ul{
                    display: flex;
                    li{
                        width: 36px;
                        height: 36px;
                        margin-right: 14px;
                        list-style: none;

                        background: linear-gradient(180deg, #D6152C 0%, #7D0312 100%);
                        border-radius: 50%;
                        @media(max-width: 374px){
                            margin-right: 4px;
                        }
                        a{
                            svg{
                                color: #fff;
                                margin-top: 8px;
                                margin-left: 8px;
                                @media(max-width: 992px){
                                    margin-left: 0px;
                                }
                                &:hover{
                                    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
                                    background: linear-gradient(180deg, #A90F22 0%, #610914 100%);
                                }
                            }
                            .insta{
                                margin-left: 10px;
                                @media(max-width: 992px){
                                    margin-left: 0px;
                                }
                            }
                            .facebook{
                                margin-left: 12px;
                                @media(max-width: 992px){
                                    margin-left: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .map{
            margin-left: 20px;
            @media(max-width:768px){
                display: none;
            }
        }
    }
}

.questions{
    padding: 120px 0;
    width: 100%;
    background-image: url("../images/background__1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .questions__body{
        width: 100%;
        display: flex;
        align-items: center;
        .questions__col-1{
            display: block;
            width: 50%;
            img{
                max-width: 546px;
            }
            @media(max-width: 992px){
                display: none;
            }
        }
        .questions__col-2{
            padding-left: 160px;
            width: 50%;
            @media(max-width: 1250px){
                width: 100%;
            }
            @media(max-width:768px){
                padding-left: 0px;
            }
            h2{
                margin-bottom: 12px;
                font-weight: bold;
                font-size: 36px;
                color: #FFFFFF;
                font-family: 'Oswald', sans-serif;
            }
            p{
                margin-bottom: 20px;
                max-width: 330px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
            }
            form{
                input{
                    color: #fff;
                    margin-bottom: 16px;
                    padding-left: 20px;
                    width: 280px;
                    height: 40px;
                    background-color: transparent;
                    border: 1px solid #575757;
                    border-radius: 6px;
                    @media(max-width: 374px){
                        width: 180px;
                    }
                }
            }
            a{
                padding: 12px 36px;
                font-weight: normal;
                font-size: 14px;
                color: #FFFFFF;
                border-radius: 6px;
                background: linear-gradient(180deg, #D6152C 0%, #7D0312 100%);
                text-decoration: none;
                position: relative;
                top: 22px;
                &:hover{
                    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
                    background: linear-gradient(180deg, #A90F22 0%, #610914 100%);
                }
            }
        }
    }
}

.footer{
    padding: 60px 0px 36px;
    background-color: #202020;
    @media(max-width:992px){
        padding: 40px 0 20px;
    }
    .footer__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width:992px){
            display: none;
        }
        .logo{
            a{
                font-family: 'Oswald', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                color: #7D0312;
                text-decoration: none;
            }
        }
        ul{
            display: flex;
            li{
                margin-left: 26px;
                list-style: none;
                a{
                    text-decoration: none;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    color: #FFFFFF;
                    &:hover{
                        color: #7D0312;
                    }
                }
            }
        }
        .phone{
            display: flex;
            .fas{
                margin-right: 12px;
                font-size: 16px;
                color: #7D0312;
            }
            p{
                font-weight: normal;
                font-size: 12px;
                color: #FFFFFF;
            }
        }
        .button__call{
            font-weight: normal;
            font-size: 14px;
            color: #D6152C;
            text-decoration: underline;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
    .footer__body{
        p{
            margin-top: 42px;
            font-weight: normal;
            font-size: 12px;
            color: #C4C4C4;
            text-align: center;
            @media(max-width:992px){
                margin-top: 0px;
            }
        }
    }
}